.lottery-div{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  border: 1px solid black;
  width: 300px;
}
.lottery-div-block{
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
}
.lottery-div-block.active{
  background: #ffe6cc;
}
#lottery-start:active{
  background: #c8c8c8;
}